body {
    background-color: #262433;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container-conteudo {
    background-color: #6F9CEB;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.418);
    max-width: 400px;
    width: 90%;
}

h1 {
    font-size: 2em;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 20px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
#button{
    width: 100%; 
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3423A6;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
}
#button:hover {
    background-color: #250cc7;
}
