@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root{
    --backgroud-color--: #001427;
    --header-color--: #2a6345;
    --main-color--: #A9FFCB;
    --gradient-color--: #708D81;
    --footer-color--: #3b4b44;
    --a-programador-color-: white;
}

body{
    background-image: linear-gradient(to top, var(--gradient-color--), var(--backgroud-color--));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #032c52;
}

h1{
    text-align: center;
    font-size: 2.5em;
    padding: 10px;
}

.p-header{
    text-align: center;
    padding-bottom: 10px;
}



ul > li{
    display: inline;
    padding-right: 10px;
    
}

ul > li > a{
    text-decoration: none;
    color: white;
}

ul a:hover{
    text-decoration: underline;
    color: darkgray;

}

main{
    flex: 1;
    background-color: var(--main-color--);
    height: 400px;
    width: 600px;
    display: block;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
}

.text-main{
    
}

.programador{
    background-color: #001427;
    color: var(--a-programador-color-); 
    text-decoration: none;
  
}

.programador:hover{
    background-color: #0666c0;
    text-decoration: underline;
}

.link-git{
    text-decoration: none;
    background-color: #001427;
    color: white;

}

.link-git:hover{
    text-decoration: underline;
    background-color: #0666c0;
}

footer{
    background-color: var(--footer-color--);
    text-align: bottom;
    margin-top: auto;
    text-align: center;
    padding: 10px;
    

}