@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root{
    --backgroud-color--: rgb(105, 105, 173);
    --header-color--: rgb(105, 105, 173);
    --main-color--: rgb(28, 28, 73);;
    --gradient-color--: #708D81;
    --footer-color--: rgb(9, 9, 54);
    --a-programador-color--: white;
    --h1-color--: rgb(255, 212, 22);
    --p-color--: rgb(170, 142, 18);
    --p-main-color--: rgb(164, 164, 240);
    --h2-main-color--: rgb(168, 130, 5);
}

body{
    background-color: var(--backgroud-color--);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: var(--header-color--);
    border: 2px solid black;
}

h1{
    text-align: center;
    font-size: 2.5em;
    padding: 10px;
    color: var(--h1-color--);
}

.p-header{
    text-align: center;
    padding-bottom: 10px;
    color: var(--p-color--);
}



ul > li{
    display: inline;
    padding-right: 10px;
    
}

ul > li > a{
    text-decoration: none;
    color: white;
}

ul a:hover{
    text-decoration: underline;
    color: darkgray;

}

main{
    flex: 1;
    background-color: var(--main-color--);
    height: 400px;
    width: 600px;
    display: block;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    color: var(--p-main-color--);
    text-align: justify;
    line-height: 1.5em;
    padding: 10px;
}

main > p{
    text-indent: 1.5em;
}

strong{
    color: #115ca1;
}

h2{
    color: var(--h2-main-color--);
    padding-bottom: 20px;
    padding-top: 20px;
}

.h2-1{
    padding-top: 0px;
}

.programador{
    background-color: #001427;
    color: var(--a-programador-color-); 
    text-decoration: none;
    color: white;
  
}

.programador:hover{
    background-color: #0666c0;
    text-decoration: underline;
}

.link-git{
    text-decoration: none;
    background-color: #001427;
    color: white;

}

.link-git:hover{
    text-decoration: underline;
    background-color: #0666c0;
}

footer{
    background-color: var(--footer-color--);
    text-align: bottom;
    margin-top: auto;
    text-align: center;
    padding: 10px;
    color: white;
    

}